body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.color-custom {
  color: #210b84;
}
.bg-custom {
  background-color: #210b84;
}
.middle-section {
  margin-top: 200px;
}
.desktop-img {
  top: -150px;
  left: 0;
}
.btn-bj-outline-custom {
  color: #210b84;
  border: 1px solid #210b84;
  font-weight: bold;
}
.btn-bj-outline-custom:hover {
  color: #210b84;
}
.btn-bj-outline-custom-contact {
  color: #210b84;
  border: 1px solid #210b84;
  font-weight: bold;
  transition-timing-function: ease;
  transition-duration: 1s;
  transition-property: transform;
  background-color: white;
}
.btn-bj-outline-custom-contact:hover {
  color: white;
  background-color: #210b84;
  transform: scale(1.1);
}
.btn-bj-outline-custom:hover .fa-backward {
  display: inline-block !important;
}
.btn-bj-outline-custom .fa-backward {
  display: none !important;
}
.skills-card{
  margin-top:-60px;
  left: 50%;
    transform: translate(-50%, 0);
}
.last-work{
  margin-top:2850px
}

@media screen and (min-width:450px) and (orientation:landscape){
  .middle-section {
    margin-top: 300px;
  }
  .desktop-img {
    top:-320px
  }
  .last-work{
    margin-top:2300px
  }
}

@media screen and (min-width: 768px) {
  .middle-section {
    margin-top: 350px;
  }
  .desktop-img {
    margin-top:-150px;
    left: 10%;
  }
  .last-work{
    margin-top:1000px
  }
  
}
@media screen and (min-width: 1024px) {
  .middle-section {
    margin-top: 600px;
  }
  .desktop-img {
    left: 10%;
  }
  
}
