body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#cv_top {
  top: 20px;
  right: 20px;
  z-index: 0 !important;
}
.color-custom {
  color: #210b84;
}
.bg-dark2 {
  background-color: rgb(42, 42, 42, 0.8);
}
.bg-custom-header-mentions {
  background-color: rgba(33, 11, 132);
  z-index: 8 !important;
  position: relative;
}
.bg-custom {
  background-color: rgb(33, 11, 132, 0.5);
}
.middle-section {
  margin-top: 150px;
}
.desktop-img {
  top: -120px;
  left: 0;
}
.btn-bj-outline-custom {
  color: #210b84;
  border: 1px solid #210b84;
  font-weight: bold;
}
.btn-bj-outline-custom:hover {
  color: #210b84;
}
.btn-bj-outline-custom-contact {
  color: #210b84;
  border: 1px solid #210b84;
  font-weight: bold;
  transition-timing-function: ease;
  transition-duration: 1s;
  transition-property: transform;
  background-color: white;
}
.btn-bj-outline-custom-contact:hover {
  color: white;
  background-color: #210b84;
  transform: scale(1.1);
}
.btn-bj-outline-custom:hover .fa-backward {
  display: inline-block !important;
}
.btn-bj-outline-custom .fa-backward {
  display: none !important;
}
.skills-card {
  margin-top: -60px;
  left: 50%;
  transform: translate(-50%, 0);
}
.last-work {
  margin-top: 2850px;
}

@media screen and (min-width: 450px) and (orientation: landscape) {
  .middle-section {
    margin-top: 300px;
  }
  .desktop-img {
    top: -320px;
  }
  .last-work {
    margin-top: 2300px;
  }
}

@media screen and (min-width: 768px) {
  .middle-section {
    margin-top: 350px;
  }
  .desktop-img {
    left: 10%;
  }
  .last-work {
    margin-top: 1200px;
  }
}
@media screen and (min-width: 1024px) {
  /* Formulaire de contact pour desktop */
  .inp-anim {
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    font-size: 25px;
    transition: border 0.2s ease-out;
  }
  .inp-name label {
    font-size: 25px;
    position: absolute;
    color: #333;
    top: 35px;
    transform: translateY(-50%);
    padding-left: 8px;
    transition: all 0.3s ease-out;
  }
  .inp-email {
    margin-top: 50px;
  }
  .inp-message {
    margin-top: 50px;
  }
  .inp-email label {
    font-size: 25px;
    position: absolute;
    color: #333;
    top: 155px;
    transform: translateY(-50%);
    padding-left: 8px;
    transition: all 0.3s ease-out;
  }
  .inp-message label {
    font-size: 25px;
    position: absolute;
    color: #333;
    top: 270px;
    transform: translateY(-50%);
    padding-left: 8px;
    transition: all 0.3s ease-out;
  }
  .inp-name:focus-within label,
  .inp-name.active-input label {
    top: -24px;
    padding-left: 2px;
  }

  .inp-email:focus-within label,
  .inp-email.active-input label {
    top: 95px;
    padding-left: 2px;
  }
  .inp-message:focus-within label,
  .inp-message.active-input label {
    top: 210px;
    padding-left: 2px;
  }
  .border-danger {
    border: 1px solid red;
  }
  .middle-section {
    margin-top: 600px !important;
  }
  .desktop-img {
    margin-top: -300px !important;
    left: 10%;
  }
  .last-work {
    margin-top: 880px !important;
  }
}
#top #enFlag,
#frFlag {
  width: 30px;
  height: 30px;
}
#logo {
  width: 50px;
}
@media screen and (min-width: 900px) {
  .desktop-img {
    top: -350px;
  }
}
@media screen and (min-width: 1024px) {
  .middle-section {
    margin-top: 400px !important;
  }
  .desktop-img {
    top: -150px;
  }
  
}
@media screen and (min-width: 1200px) {
  .desktop-img {
    top: -230px;
  }
  .middle-section {
    margin-top: 500px !important;
  }
}
@media screen and (min-width: 1400px) {
  #logo {
    width: 60px;
  }
  #top .btn {
    font-size: 1.3rem;
  }
  #top #enFlag,
  #frFlag {
    width: 50px;
    height: 50px;
  }
  #homeHeader h1 {
    font-size: 3em;
  }
  #homeHeader p {
    font-size: 2em;
  }
  .desktop-img {
    top: -280px;
  }
  .middle-section {
    margin-top: 550px !important;
  }
}
@media screen and (min-width: 1500px) {
  .desktop-img {
    top: -400px;
  }
  .middle-section {
    margin-top: 650px !important;
  }
}
@media screen and (min-width: 1750px) {
  .desktop-img {
    top: -500px;
  }
  .last-work {
    margin-top: 1150px!important;
  }
  .middle-section {
    margin-top: 750px !important;
  }
  .btn-bj-outline-custom{
    font-size:1.5em;
  }
  h1 {
    font-size: 4.2em;
  }
  p.lead{
    font-size:1.9em;
  }
  
  p {
    font-size: 1.9em;
  }
  h2{
    font-size:3.8em;
  }
  h3 {
    font-size: 3.2em;
  }
  h4 {
    font-size: 2.9em;
  }
  h5{
    font-size:2.4em;
  }
  h6{
    font-size:1.9em;
  }
}
@media screen and (min-width: 2000px) {
  .desktop-img {
    top: -600px;
  }
  .middle-section img {
    width: 80%;
  }
  .middle-section {
    margin-top: 800px !important;
  }
  #top .btn {
    font-size: 1.9rem;
  }
  #logo {
    width: 90px;
  }
  #top #enFlag,
  #frFlag {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 2250px) {
  .middle-section {
    margin-top: 900px !important;
  }
  .desktop-img {
    top: -700px;
  }
}
@media screen and (min-width: 2500px) {
  #top .btn {
    font-size: 2.2rem;
  }
  #logo {
    width: 100px;
  }
  .middle-section {
    margin-top: 1000px !important;
  }
  .desktop-img {
    top: -800px;
  }
}
