body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.color-custom {
  color: #210b84;
}
.bg-custom {
  background-color: #210b84;
}

.btn-bj-outline-custom {
  color: #210b84;
  border: 1px solid #210b84;
  font-weight: bold;
}
.btn-bj-outline-custom:hover {
  color: #210b84;
}
.btn-bj-outline-custom-contact {
  color: #210b84;
  border: 1px solid #210b84;
  font-weight: bold;
  transition-timing-function: ease;
  transition-duration: 1s;
  transition-property: transform;
  background-color: white;
}
.btn-bj-outline-custom-contact:hover {
  color: white;
  background-color: #210b84;
  transform: scale(1.1);
}
.btn-bj-outline-custom:hover .fa-backward {
  display: inline-block !important;
}
.btn-bj-outline-custom .fa-backward {
  display: none !important;
}

@media screen and (min-width: 1024px) {
  .middle-section {
    margin-top: 600px;
  }
  .desktop-img {
    top: -620px;
    left: 10%;
  }
  
}
